#content,
#topnav,
.choices,
#tags,
.multi-file-files ol li,
.pagination,
div.file-form{
  height: 1%;
}

.index #content h1 {
  display:inline;
  float:left;
}

.pagination span, .pagination a, th label {
        vertical-align: middle;
}

#tags a {
        display:block;
}

#tags li {
        margin:10px 10px 0 0;
}

#fancybox-inner ul#browser-list {
        margin-top:50px;
        clear:both;
}

#fancybox-inner #asset-browser {
        padding:0 0 0 0;
}

ul#topnav li a {
        display:block;
}

ul#topnav li {
        margin-top:10px !important;
}

fieldset span.tooltip {
          top:0px;
}

.add.form-builder {
  margin:-20px 0;
}

form#uploader {
  clear:both;
  float:left;
  width:100%;
}

#assets ul.choices {
margin:-60px 0 -50px;
}

#assets.index ul.choices   {
  margin:0 0 0 0;
}


.change_template #main-form label {
  display:block;
  float:none;
}

fieldset.template label img {
top:30px;
}

#fancybox-inner #tags {
  float:right;
  clear:both;
}

#content form .fixed-form legend.advanced {
  left:183px !important;
}

#sub-form ol#slot-list li a {
  padding:0px !important;
}

ol#slot-list li {
  display:block;
  padding:10px;
}

.multi-file-files ol li {
  min-height:100px;
}

div#content-table {
  margin-bottom:20px;
}

th .tooltip {
  top:-15px !important;
}

.pagination .previous_page,
.pagination .next_page {
  display:block !important;
}

.pagination .next_page {
  margin:5px 0 0 0;
}

.multi-file-files ol li:first-child {
  height:500px;
}
