fieldset span.tooltip {
          top:0px;
}

#form-fields fieldset span.tooltip {
          top:5px;
}

.change_template #main-form label {
  display:block;
  float:none;
}

fieldset.template label img {
top:30px;
}

ol#slot-list li {
  display:list-item;
  padding: 0 0 0 3px;
  
}

#sub-form ol#slot-list li a {
    padding: 10px 10px 10px 0 !important;
}