<% content_for :header, javascript_tag('setUpAssets()') unless @asset.new_record? %>

<h1><%= @asset.new_record? ? 'New' : 'Editing' %> Asset</h1>

<%= render 'form' %>

<%= javascript_tag('setUpPlupload()') if @asset.new_record?  %>

