<div class="control-group">
  <%= f.label :body, "Body", :class => "control-label" %>
  <i class="icon-info-sign pull-right icon-large help" title="Body" data-content="Enter content for this page"></i>
  <div class="controls"><%= f.text_area :body, :class => 'editor span6' %></div>
</div>