<p class="tinymce">
  <span class="tooltip" title="Enter content for this page">&nbsp;</span>
  <%= f.label :body, "Body" %><br/>
  <span class="textarea-wrap"><%= f.text_area :body, :class => 'editor' %></span>
</p>