<%= render :partial => 'body', :locals => { :f => f }  %>

<% content_for :component_table do %>
<table class="component-table">
  <tr>
    <td colspan="4"><a href="#main_component_form_0" class="slot_link">1</a></td>
  </tr>
  <tr>
    <td colspan="4" class="empty"></td>
  </tr>
  <tr>
    <td><a href="#small_component_form_0" class="slot_link">2</a></td>
    <td><a href="#small_component_form_1" class="slot_link">3</a></td>
    <td><a href="#small_component_form_2" class="slot_link">4</a></td>
    <td><a href="#small_component_form_3" class="slot_link">5</a></td>
  </tr>
  <tr>
    <td><a href="#small_component_form_4" class="slot_link">6</a></td>
    <td><a href="#small_component_form_5" class="slot_link">7</a></td>
    <td><a href="#small_component_form_6" class="slot_link">8</a></td>
    <td><a href="#small_component_form_7" class="slot_link">9</a></td>
  </tr>
</table>
<% end -%>