<% fields_for :node do |f| %>
<%   f.fields_for slot_name, component do |f| %>
      <%= f.hidden_field :_type %>
      <%= error_messages_for :object => component %>
      <p>
        <%= f.label :form_id, 'Form' %><br />
        <span class="input-wrap"><%= f.select :form_id, options_for_select(component.class.form_options, component.form_id.to_s) %></span>
      </p>

<%   end
   end %>