/* -------------- SKIN -------------- */
/* color, background etc */

/* -------------- HEADER -------------- */

/* -------------- NAVIGATION -------------- */

/* -------------- MAIN CONTENT -------------- */

/* -------------- SUPPORTING CONTENT -------------- */

/* -------------- TEMPLATES -------------- */

/* -------------- COMPONENTS -------------- */

/* -------------- FOOTER -------------- */

/* -------------- ARTICLES -------------- */

/* Comments */

/* Pagination */

/* -------------- ERRORS -------------- */

/* -------------- JQUERY and CSS3 -------------- */

/* ------------- IMAGE REPLACEMENT  --------------- */
/* {
  overflow: hidden;
  text-align: left;
  display: block;
  line-height:0;
  text-indent: -1000em;
}*/