/* -------------- IE -------------- */
/* for IE 7 and bellow */

/* -------------- COMMON FIX'S -------------- */
button {  width: auto; overflow: visible; }
img { -ms-interpolation-mode: bicubic; }

/* -------------- CLEARFIX -------------- */
{
  height: 1%;
}

