/* -------------------------------------------------------------- 
  HTML5 reset.css - Resets default browser CSS.
	Bassed on resets from Blueprint, Eric Meyer and Richard Clark, HTML5 BoilerPlate
	
	Comprised and edited by Liam Richardson for Beef.
	
	http://discoliam.com
	http://www.wearebeef.co.uk
		
	http://richclarkdesign.com
  http://www.blueprintcss.org
	http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded
	http://www.aestheticallyloyal.com/public/optimize-legibility
	http://maxvoltar.com/archive/-webkit-font-smoothing
-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video,
applet, a, acronym, big, font, strike, tt {
  margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/*so:HTML 5 Specific*/
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {display:block;} /*Block Elements*/
nav ul {list-style:none;} /*removes styles from nav elements*/
/*eo:HTML 5 Specific*/

body{line-height:1;}

h1,h2,h3,h4,h5,h6{font-size:100%;}

/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}

blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}

fieldset, img{border:0;}

input, select {vertical-align:middle;}

address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}

hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
ins {background-color:#ff9;color:#000;text-decoration:none;}
del {text-decoration: line-through;}

pre, code, kbd, samp { font-family: monospace, sans-serif; }

/* -------------------------------------------------------------- 
  PRESET
	Set some default design patterns
-------------------------------------------------------------- */
p, ol, ul {padding-bottom: 10px;}
ol, ul {list-style-position: inside;}
ol{list-style-type:decimal;}
ul{list-style-type:disc;}
strong,h1,h2,h3,h4,h5,h6{font-weight:bold;text-rendering: optimizeLegibility;}
em {font-style:italic;}
blockquote {padding: 20px;font-style:italic;}
abbr[title], dfn[title] {border-bottom:1px dotted #000;cursor:help;}
html {-webkit-font-smoothing: antialiased;}
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
input[type=button], input[type=submit], button { cursor: pointer; }
