/* -------------- TYPOGRAPHY -------------- */
/* Font size, family, style etc */

/* -------------- FONT FAMILY -------------- */

body, textarea, input {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 62.5%;
  word-spacing:2px;
}

/* -------------- FONT SIZES -------------- */

/*9px*/
{font-size:0.9em;}

/* 10px */ 
{font-size:1.0em;}

/* 11px */
{font-size:1.0em;}

/* 12px */
p{font-size:1.2em;}

/* 13px */
{font-size:1.3em;}

/* 14px */
{font-size:1.4em;}

/* 15px */
{font-size:1.5em;}

/* 16px */
{font-size:1.6em;}

/* 17px */
{font-size:1.7em;}

/* 18px */
{font-size:1.8em;}

/* 19px */
{font-size:1.9em;}

/* 20px */
h4, h5, h6{font-size:2.0em;}

/* 21px */
{font-size:2.1em;}

/* 22px */
{font-size:2.2em;}

/* 23px */
{font-size:2.3em;}

/* 24px */
h3{font-size:2.4em;}

/* 30px */
h2{font-size:3em;}

/*36px */
h1{font-size:3.6em;}

/* -------------- FONT STYLING -------------- */

/* Bold */
{font-weight: bold;}

/* Italic */
{font-style: italic;}

/* Underline */
{text-decoration: underline;}

/* Normal */
{font-weight: normal !important;font-style: normal !important;}

{font-weight: normal !important;}

{font-style: normal !important;}

/* -------------- LINE HEIGHT -------------- */

/* -------------- LETTER SPACING -------------- */

/* -------------- WORD SPACING -------------- */









/* Font stack options - Taken from Starkers by Elliot Jay Stocks - http://starkerstheme.com

	The following represents a list of font stacks, as recommended by Nathan Ford in
	http://unitinteractive.com/blog/2008/06/26/better-css-font-stacks/

	I've added inverted commas around the relevant family names to ensure compatibility.
	p = balanced for paragraphs or body copy
	t = balanced for headlines or titles

	- - - -

Arial, "Helvetica Neue", Helvetica, sans-serif - p, t

Baskerville, "Times New Roman", Times, serif - p
Baskerville, "Times, Times New Roman", serif - t

Cambria, Georgia, Times, "Times New Roman", serif - p, t
"Century Gothic", "Apple Gothic", sans-serif - p, t

Consolas, "Lucida Console", Monaco, monospace - p, t

"Copperplate Light", "Copperplate Gothic Light", serif - p, t

"Courier New", Courier, monospace - p, t

"Franklin Gothic Medium", "Arial Narrow Bold", Arial, sans-serif - p, t

Futura, "Century Gothic", "Apple Gothic", sans-serif - p, t

Garamond, "Hoefler Text", "Times New Roman", Times, serif - p
Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif - t

Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif - p
Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif - t

Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif - p
Georgia, Times, "Times New Roman", serif - t

GillSans, Calibri, Trebuchet, sans-serif - p
GillSans, Trebuchet, Calibri, sans-serif - t

"Helvetica Neue", Arial, Helvetica, sans-serif - p
Helvetica, "Helvetica Neue", Arial, sans-serif - t

Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif - p, t

"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif - p, t

Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif - p
Palatino, "Palatino Linotype", "Hoefler Text", Times, "Times New Roman", serif - t

Tahoma, Geneva, Verdana - p
Tahoma, Verdana, Geneva - t

Times, "Times New Roman", Georgia, serif - p, t

Trebuchet, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif - p
Trebuchet, Tahoma, Arial, sans-serif - t

Verdana, Geneva, Tahoma, sans-serif - p
Verdana, Tahoma, Geneva, sans-serif - t

*/