/* Style.css */
/* =============================================================================
  LAYOUT
========================================================================== */
body {padding-top: 50px;}

input[type="file"]{
  display: block;
  clear:both;
}

/* =============================================================================
  COMPONENTS
========================================================================== */

//Navbar

.navbar-fixed-top .container {
  width: auto;
  padding: 0 19px;
  .user-button{ margin-right: 10px;}
}

/*Content Table*/
.component-table-well {
  width: 280px;
  background-color: #fff;
  border-color: #c2c2c2;
}

#content-table {
  font-size: 16px;
  .table th {
    background: #2c2c2c;
    color: #fff;
    border-color: #666;
  } //table th
  td{
    i.add{
      color:#5BB75B;
      font-size: 25px;
    }
  } //td
  td.show{
    text-align:center;
    a{color:#333;font-size: 25px;}
  }
  td.publish{
    text-align:center;
    i{color:#5BB75B;font-size: 25px;}
  }
  td.delete{
    text-align:center;
    a{color:#BD362F;font-size: 25px;}
  }
  td.file{
    img{float:left;}
    a.show{color:#333;font-size: 25px;float:right;}
  }
}


/* Component Table */
table.component-table {
  width: 280px;
  padding:9px;
  margin:10px 0 0 0;
  background-color:#e9e9e9;
  border:1px solid #c2c2c2;
  td{
    width: 25%;
    min-height: 50px;
    border: 4px solid #fff;
    text-align: center;
    background: white;
    border: 4px solid #fff;
    background: #fff;
    &.empty{height: 40px;}
    &.content{background:#eee;}
    a{
      display: block;
      padding: 15px 0;
      color: #fff;
      background: #c2c2c2;
      &.filled {background: #e47373;}
    } //a
  } //td
} //.component-table

/*Component List*/
.component-list{
  width: 320px;
}

/* =============================================================================
  CLEARFIX
========================================================================== */
//{
//  content: ".";
//  display: block;
//  height: 0;
//  clear: both;
//  visibility: hidden;
//}
