/* Style.css */
/* =============================================================================
  LAYOUT
========================================================================== */
body {padding-top: 50px;}

input[type="file"]{
  display: block;
  clear:both;
}

/* =============================================================================
  COMPONENTS
========================================================================== */

//Navbar
.user-button{ margin-right: 10px;}

/* Component Table */
table.component-table {
  width: 280px;
  padding:9px;
  margin:10px 0 0 0;
  background-color:#e9e9e9;
  border:1px solid #c2c2c2;
  td{
    width: 25%;
    min-height: 50px;
    border: 4px solid #fff;
    text-align: center;
    background: white;
    border: 4px solid #fff;
    background: #fff;
    &.empty{height: 40px;}
    &.content{background:#eee;}
    a{
      display: block;
      padding: 15px 0;
      color: #fff;
      background: #c2c2c2;
      &.filled {background: #e47373;}
    } //a
  } //td
} //.component-table



/*Content Table*/
.component-table-well {
  width: 280px;
  background-color: #fff;
  border-color: #c2c2c2;
}

#content-table {
  font-size: 16px;
  .table th {
    background: #2c2c2c;
    color: #fff;
    border-color: #666;
  } //table th
}

/*Component List*/
.component-list{
  width: 320px;
}

/* =============================================================================
  CLEARFIX
========================================================================== */
//{
//  content: ".";
//  display: block;
//  height: 0;
//  clear: both;
//  visibility: hidden;
//}
