/* -------------- FONT FAMILY -------------- */

body {
  font-size: 62.5%;
}

body, textarea {
  font-family: 'Arial', verdana, sans-serif;
}


/* -------------- FONT SIZES -------------- */

  /* 11px */
ul#status li,
label,
#content form legend,
fieldset table th,
ul.choices li,
.tooltip-show,
#tags a,
#info a.edit,
#sub-form h2,
span.node-mover
 {
    font-size:1.1em;
}

  /* 12px */
#header h1,
.pagination,
#info p,
#no-tags p {
    font-size:1.2em;
  }

  /* 14px */
#content form input,
#content form textarea,
ul#topnav li a,
div.flash,
#errorExplanation p,
#errorExplanation li,
div#content-table table.content td,
div#content-table table.content th,
table#versions-list th,
table#versions-list td,
#tags h2,
#info h2,
#no-tags h2,
#sub-form ol#slot-list li,
#fancybox-topnav h1,
ol.tree li {
    font-size:1.4em;
  }

  /* 15px */
#fancybox-inner legend,
#pending  {
    font-size:1.5em;
}

  /* 16px */
#errorExplanation h2, .dowload-form h2  {
    font-size:1.6em;
  }

  /* 20px */
h2.title
  {
    font-size:2.0em;
  }

  /* 36px */
#content h1 {
    font-size:3.6em;
}



div#form-fields table.content th,
div#form-fields table.content td,
div#form-fields table.content td input {
  font-size:12px !important;
}

div#form-fields table.content th .tooltip-show {
  font-size:11px !important;
}

/* -------------- FONT FAMILY -------------- */

  /* Bold */
ul#topnav li a,
a.edit,
table td.child a,
table td.file a,
ul.choices li a,
#tags a, div.tags a,
div#content-table table.content th,
table#versions-list th,
.pagination,
#no-tags a,
label,
legend,
#sub-form h2,
#fancybox-topnav h1,
#fancybox-inner legend,
#errorExplanation,
span.node-mover,
div#flash a,
ol.tree span.expand  {
    font-weight: bold;
  }

  /* Uppercase */
label,
#sub-form h2,
legend,
span.node-mover {
    text-transform: uppercase;
  }

  /* Normal */
div#content-table table.content th span  {
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
  }

div#content-table table.content td.file {
    text-align:center;
}

/* -------------- LINE HEIGHT -------------- */

#info p {
  line-height:16px;
}

