<%= render 'menu' %>

<h2>Choose Image Size</h2>
<div id="image-choices">
  <div class="choice small" title="Small">
      <%= image_tag @asset.url('110x110', @asset.web_image_extension), :title => @asset.description, :alt => @asset.description,  'data-url' => @asset.url('800x600', @asset.web_image_extension), :id => "asset-#{@asset.id}", :class => "fancy" %>  
  </div>
  <div class="choice medium" title="Medium">
      <%= image_tag @asset.url('200x200', @asset.web_image_extension), :title => @asset.description, :alt => @asset.description, 'data-url' => @asset.url('800x600', @asset.web_image_extension), :id => "asset-#{@asset.id}", :class => "fancy" %>  
  </div>
  <div class="choice large" title="Large">
      <%= image_tag @asset.url('460x', @asset.web_image_extension), :title => @asset.description, :alt => @asset.description, 'data-url' => @asset.url('800x600', @asset.web_image_extension), :id => "asset-#{@asset.id}", :class => "fancy" %>  
  </div>
</div>