<%= render :partial => 'body', :locals => { :f => f }  %>

<% content_for :component_table do %>
<table class="component-table">
  <tr>
    <td rowspan="2" class="content"></td>
    <td colspan="3"><a href="#main_component_form_0" class="slot_link">1</a></td>
  </tr>
  <tr>
    <td colspan="3" class="empty content body"></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="3" class="empty content body"></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="3"><a href="#wide_component_form_0" class="slot_link">2</a></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="3"><a href="#wide_component_form_1" class="slot_link">3</a></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="3"><a href="#wide_component_form_2" class="slot_link">4</a></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<% end -%>