@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";

/* =============================================================================
  BOOTSTRAP COMPATIBILITY
============================================================================= */
/* Rails scaffold style compatibility */
.errorExplanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block; /* optional */
}

.field_with_errors {
  @extend .control-group.error
}

/* =============================================================================
  LAYOUT
============================================================================= */
body {
}

.container-fluid {
  padding-top:110px;
  background-color:#fff;
}

input[type="file"]{
  display: block;
  clear:both;
}

h1 {
  margin:0 0 20px 0;
}

a [class^="icon-"], a [class*=" icon-"] {
  text-decoration:none;
  cursor:pointer;
}


/* =============================================================================
  COMPONENTS
============================================================================= */

[class^="icon-"], [class*=" icon-"] {
  background-image:none;
}

/* Navbar */

.navbar-fixed-top {
  .container {
    width: auto;
    padding: 0 19px;
    .user-button { margin-right: 10px;}
    .brand strong {color: #fff;}
  }
  &.primary-nav {

  }
  &.secondary-nav {
    margin-top:42px;
    ul.nav {
      li {
        a:first-child {
          padding-left:0;
        }
      }
    }
  }
}

/*Content Table*/

#content-table {
  font-size: 16px;
  i, a {
    &:hover {
      text-decoration:none;
    }
  }
  .table {
    th {
      background: #999;
      color: #fff;
      border-color: #555;
    } //table th
  }
  
  td{
    &.move-up, &.move-down {
      text-align:center;
    }
    i.add{
      color:#46a546;
    }
  } //td
  td.show{
    text-align:center;
    height:100%;
    i.icon-eye-close {width:25px; padding: 5px 0; color:#333; font-size: 25px;}
    a{
      i {width:25px; padding-top: 5px;}
      color:#333;font-size: 25px;
    }
  }
  td.publish{
    text-align:center;
    height:100%;
    i {
      color:#46a546; 
      font-size: 25px; 
      width:25px; 
      padding-top: 5px;
      &.icon-file {
        color:#333;
      }
    }
  }
  td.delete{
    text-align:center;
    height:100%;
    a{
      i {width:25px; padding-top: 5px;}
      display:block; 
      color:#9d261d;
      font-size: 25px;
    }
  }
  td.file{
    text-align:center;
    height:100%;
    img{float:left;}
    a.show{
      color:#333; 
      font-size: 25px; 
      float:right;
      i {
        padding-right: 10px;
        padding-top: 5px;
      }
    }
  }
}
/* Tags */

.tags {
  margin:0 0 15px 0;
  padding:0;
  list-style-type:none;
  list-position:outside;
  li {
    display:inline-block;
    margin:0 0 5px 0;
    span.label {
      a {
        color:#fff;
      }
    }
  }
}

/* Component Table */

.component-table-well.well{
  width: 280px;
  background-color: #fff;
  border-color: #eee;
}

table.component-table {
  width: 280px;
  padding:9px;
  margin:10px 0 0 0;
  background-color:#eee;
  td{
    width: 25%;
    min-height: 50px;
    border: 4px solid #fff;
    text-align: center;
    background: #fff;
    &.empty{height: 40px;}
    &.content{background:#eee;}
    a{
      display: block;
      padding: 15px 0;
      color: #fff;
      background: #999;
      &.filled {background: #9d261d;}
    } //a
  } //td
} //.component-table

/* Component List */

.component-list{
  width: 320px;
  margin:20px 0 0 0;
}

.filter-by-type {
  padding-top:20px;
}

/* =============================================================================
  FOOTER
============================================================================= */
footer {
  padding: 20px 0;
  margin:20px 20px 0 20px;
  border-top:1px solid #ddd;
  .site-info {}
  .built {
    text-align:right;
    a {
      width:40px;
      height:28px;
      line-height:28px;
      margin-left:5px;
      display:inline-block;
      background: url(/assets/admin/beef-love.jpg) no-repeat;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

/* =============================================================================
  CLEARFIX
============================================================================= */

//{
//  content: ".";
//  display: block;
//  height: 0;
//  clear: both;
//  visibility: hidden;
//}

@import "media";