@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";

/* =============================================================================
  BOOTSTRAP COMPATIBILITY
========================================================================== */
/* Rails scaffold style compatibility */
.errorExplanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block; /* optional */
}

.field_with_errors {
  @extend .control-group.error
}

/* =============================================================================
  LAYOUT
========================================================================== */
body {padding-top: 50px;}

input[type="file"]{
  display: block;
  clear:both;
}

/* =============================================================================
  COMPONENTS
========================================================================== */

//Navbar

.navbar-fixed-top .container {
  width: auto;
  padding: 0 19px;
  .user-button{ margin-right: 10px;}
  .brand strong {color: $white;}
}

/*Content Table*/
#content-table {
  font-size: 16px;
  .table th {
    background: $grayLight;
    color: $white;
    border-color: $gray;
  } //table th
  td{
    i.add{
      color:$green;
      font-size: 25px;
    }
  } //td
  td.show{
    text-align:center;
    a{color:$grayDark;font-size: 25px;}
  }
  td.publish{
    text-align:center;
    i{color:$green;font-size: 25px;}
  }
  td.delete{
    text-align:center;
    a{color:$red;font-size: 25px;}
  }
  td.file{
    img{float:left;}
    a.show{color:$grayDark;font-size: 25px;float:right;}
  }
}


/* Component Table */
.component-table-well.well{
  width: 280px;
  background-color: $white;
  border-color: $grayLighter;
}


table.component-table {
  width: 280px;
  padding:9px;
  margin:10px 0 0 0;
  background-color:$grayLighter;
  td{
    width: 25%;
    min-height: 50px;
    border: 4px solid $white;
    text-align: center;
    background: $white;
    &.empty{height: 40px;}
    &.content{background:$grayLighter;}
    a{
      display: block;
      padding: 15px 0;
      color: $white;
      background: $grayLight;
      &.filled {background: $red;}
    } //a
  } //td
} //.component-table

/*Component List*/
.component-list{
  width: 320px;
}

/* =============================================================================
  CLEARFIX
========================================================================== */
//{
//  content: ".";
//  display: block;
//  height: 0;
//  clear: both;
//  visibility: hidden;
//}
