@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";

/* =============================================================================
  BOOTSTRAP COMPATIBILITY
========================================================================== */
/* Rails scaffold style compatibility */
.errorExplanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block; /* optional */
}

.field_with_errors {
  @extend .control-group.error
}

/* =============================================================================
  LAYOUT
========================================================================== */
body {
  
}

.container-fluid {
  padding-top: 50px;
}

input[type="file"]{
  display: block;
  clear:both;
}

/* =============================================================================
  COMPONENTS
========================================================================== */

[class^="icon-"], [class*=" icon-"] {
  background-image:none;
}

//Navbar

.navbar-fixed-top .container {
  width: auto;
  padding: 0 19px;
  .user-button{ margin-right: 10px;}
  .brand strong {color: #fff;}
}

/*Content Table*/
#content-table {
  font-size: 16px;
  i, a {
    &:hover {
      text-decoration:none;
    }
  }
  .table {
    th {
      background: #999;
      color: #fff;
      border-color: #555;
    } //table th
  }
  
  td{
    &.move-up, &.move-down {
      text-align:center;
    }
    i.add{
      color:#46a546;
      //font-size: 25px;
    }
  } //td
  td.show{
    text-align:center;
    height:100%;
    a{color:#333;font-size: 25px;}
  }
  td.publish{
    text-align:center;
    &[title*=Hidden] {
      i{
        color:#9d261d;
      } 
    }
    i{color:#46a546;font-size: 25px;}
  }
  td.delete{
    text-align:center;
    a{color:#9d261d;font-size: 25px;}
  }
  td.file{
    img{float:left;}
    a.show{color:#333;font-size: 25px;float:right;}
  }
}
/* Tags */
.tags {
  margin:0 0 15px 0;
  padding:0;
  list-style-type:none;
  list-position:outside;
  li {
    display:inline-block;
    margin:0 0 5px 0;
    span.label {
      a {
        color:#fff;
      }
    }
  }
}

/* Component Table */
.component-table-well.well{
  width: 280px;
  background-color: #fff;
  border-color: #eee;
}


table.component-table {
  width: 280px;
  padding:9px;
  margin:10px 0 0 0;
  background-color:#eee;
  td{
    width: 25%;
    min-height: 50px;
    border: 4px solid #fff;
    text-align: center;
    background: #fff;
    &.empty{height: 40px;}
    &.content{background:#eee;}
    a{
      display: block;
      padding: 15px 0;
      color: #fff;
      background: #999;
      &.filled {background: #9d261d;}
    } //a
  } //td
} //.component-table

/*Component List*/
.component-list{
  width: 320px;
  margin:20px 0 0 0;
}

/* =============================================================================
  CLEARFIX
========================================================================== */
//{
//  content: ".";
//  display: block;
//  height: 0;
//  clear: both;
//  visibility: hidden;
//}

@import "media";