<%% content_for 'head' do %>
  <%%= auto_discovery_link_tag :rss, node_path(@node.parent, :format => 'rss') unless @node.parent.nil? %>
<%% end %>

<div id="main-content"<%%= ' class="no-nav"' unless node_has_nav? %>>

  <h1><%%=h @node.title %></h1>

  <%%= link_to 'RSS', node_path(@node.parent, :format => 'rss'), :class => 'rss-logo', :title => 'Click and copy this url into your feed reader.' unless @node.parent.nil? %>

  <div id="body"><%%= @node.body %></div>


<% unless attributes.empty? %>
  <dl>
  <% for attribute in attributes -%>
      <dt><%= attribute.name.titleize %></dt>
      <dd><%%= @node.<% attribute.name %>%></dd>
  <% end -%>
  </dl>
<% end -%>
  

  <div id="related" class="component"><%%= related_content(@node, [@node.class.name], {:limit => 3}) %></div>

  <%%= component(@node, 'small_slot_0') %>
  <%%= component(@node, 'small_slot_1') %>
  <%%= component(@node, 'small_slot_2') %>
  <%%= component(@node, 'small_slot_3') %>

  <%%= component(@node, 'wide_slot_0') %>
  <%%= component(@node, 'wide_slot_1') %>
  <%%= component(@node, 'wide_slot_2') %>

</div>

<%% if node_has_nav? -%>
<div id="supporting-content">
  <%%= node_nav %>
</div>
<%% end -%>
